.contact-container {
    background: blue center center/cover no-repeat;
    height: 105%;
    width: 100%;
    margin-top: -5vh;
    padding-top: 5vh;
    margin-bottom: -5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    justify-content: center;
  }
  
  .contact-links {
  }
  
  .contact-card {
    background: white;
    width: 460px;
    height: 412px;
    border-radius: 20px;
      overflow: scroll;
  
  }
  
  .contact-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #3759c1;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    transform: scale(1, 0.7);
  }
  
  .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .repo {
    background-color: #9900c9;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 0px;
    width: 86px;
    margin-left: 167px;
    margin-right: 167px;
  
  }
  
  .repo:hover {
    background-color: #9a00c986;
  }
  
  .contact-h3 {
    color: white;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif;
    transform: scale(1, 0.7);
  }
  