/* font-family: 'Quicksand', sans-serif; */

.home-container {
  background: black center center/cover no-repeat;
  height: 105%;
  width: 100%;
  margin-top: -5vh;
  padding-top: 5vh;
  margin-bottom: -5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  justify-content: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2.4px;

}

.home-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 25vh;
  margin-left: 10vw;
  object-fit: contain;
  color: white;
}

.learn-more:after {
  content: "";
  display: block;
  margin: 0;
  width: 12vh;
  padding-top: 2px;
  border-bottom: 1px solid #9900C9;
}

