@media(min-width: 770px){
    .iconContainer{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-around;
        margin-left: 70vw;
        margin-right: 2vw;
        margin-bottom: -100px;
    } 
}


@media(max-width: 770px){
    .iconContainer{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-around;
    } 
}
