/* 
font-family: 'Montserrat', sans-serif; 
*/


.navbar-collapse {
  /* background: red; */
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}


@media(max-width: 400px){
  .header-ontainer{
      display: flex;
      /* flex-direction: column; */
      align-self: center;
      align-items: center;
      justify-content: space-around;
      /* padding-bottom: 200px; */
  } 
}