.contact-container {
  background: black center center/cover no-repeat;
  height: 105%;
  width: 100%;
  margin-top: -5vh;
  padding-top: 5vh;
  margin-bottom: -5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  object-fit: contain;
  justify-content: space-around;
}

.contact-links {
    margin-top: -175px;
}
